.profile {
    color: #ffffff;
    width: 35px;
    height: 35px;
    font-size: 14px;        
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}